Number of Word #1

In [212]:
def number_of_word(sentence):
    word = sentence.split()
    return len(word)

In [213]:
number_of_word(sentence = "Hello World!")

2

Find Multiple #2

In [214]:
def find_multiple(start_range, end_range, multiple):
    list1 = []
    for i in range(start_range, (end_range + 1)):
        if i % multiple == 0:
            list1.append(i) 
    return list1

In [215]:
find_multiple(start_range= 1, end_range= 20, multiple= 5)

[5, 10, 15, 20]

In [216]:
find_multiple(start_range= 1, end_range= 50, multiple= 10)

[10, 20, 30, 40, 50]

Grade Convertor #3

In [217]:
def Grade_Converter(convert_to, **kwargs):
    
    for key, score in kwargs.items():
        if 85 <= score < 100:
            if convert_to == 'gpa':
                return "A"
            elif convert_to == 'letter_grade':
                return 4
        elif 70 < score < 84.99:
            if convert_to == 'gpa':
                return "B"
            elif convert_to == 'letter_grade':
                return 3
        elif 60 <= score <= 69.99:
            if convert_to == 'gpa':
                return "C"
            elif convert_to == 'letter_grade':
                return 2.5
        elif 50 <= score <= 59.99:
            if convert_to == 'gpa':
                return "D"
            elif convert_to == 'letter_grade':
                return 2
        elif 40 <= score <= 49.99:
            if convert_to == 'gpa':
                return "E"
            elif convert_to == 'letter_grade':
                return 1.5
        elif 0  <  score <= 39.99:
            if convert_to == 'gpa':
                return "F"
            elif convert_to == 'letter_grade':
                return 1

In [218]:
Grade_Converter(convert_to='gpa', Adam=62, Faiz=91)

'C'

In [219]:
Grade_Converter(convert_to='letter_grade', Albert=90, Dwi=82, Syahdan=58, Veronica=84)

4

Fibonacci Sequence #4

In [220]:
def my_function(n):
    if n <= 1:
        return n
    else:
        fib_sequence = [0, 1]
        for i in range(2, n + 1):
            fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
        return fib_sequence[n]

In [221]:
my_function(n=0)

0

In [222]:
my_function(n=4)

3

In [223]:
my_function(n=10)

55

: